@{
    ViewData["Title"] = "Crear Producto";
}

<div class="text-center">
    <h1 class="display-4">AlMaximoTI : Miguel Ángel</h1>
    <p>Únete a nuestro <a href="http://www.almaximoti.com/Sitio/index.html">centro de alto rendimiento</a>.</p>
</div>
<div class="row justify-content-center">
    <div class="col-10">
        <div class="alert alert-info" role="alert">
            Crear Producto
        </div>

        <div class="card">
            <div class="card-header">
                AlMaximoTI : Crear Producto
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" id="productoId" value="0" />
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="txtClave" class="form-label">Clave</label>
                            <input type="text" class="form-control" id="txtClave" name="clave" placeholder="Ej: PROD001" required>
                        </div>
                        <div class="col-md-6">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Ej: Producto A" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="tipo" class="form-label">Tipo</label>
                            <select class="form-control" id="tipo" name="tipo" required asp-items="ViewBag.TipoProductos">
                                <option value="" disabled selected>Seleccione Tipo de Producto</option>
                                <!-- Opciones -->
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="txtPrecio" class="form-label">Precio</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="txtPrecio" name="precio" placeholder="Ej: 100.00" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="esActivo" name="esActivo" disabled>
                        <label class="form-check-label" for="esActivo">Activo (Deshabilitado)</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary boton-guardar-cambios-producto">Guardar</button>
                        <a href="/Producto/Index" class="btn btn-secondary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
 

    <script src="~/js/crear.js"></script>
}
